body {
    background-color: ghostwhite;
    margin: 20%;
    font-family: Tahoma
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

ul {
    list-style: None;
}

li {
    margin-left: -5px;
    text-align: center;
    display: flex;
}
